<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lober c2s</title>
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
    <div class="menu">
        <h1>Lober</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="users">Users</a></li>
            <li><a href="teams">Teams</a></li>
            <li><a class="active" href="c2s">C2s</a></li>
            <li><a href="scope">Scope</a></li>
            <li><a href="config">Config</a></li>
        </ul>
        <img src="assets/imgs/lober.gif">
    </div>
    <div class="contents">
        <h1>C2s</h1>

        <button type="c2-add">Add User</button>
        <br>

        <div class="c2s">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                {{ range.c2s }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>
                        <button type="c2-edit-{{ .Name }}">Edit</button>
                        <button type="c2-show={{ .Name }}">Shows Logs</button>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
</body>
</html>