<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lober users</title>
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
    <div class="menu">
        <h1>Lober</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="users">Users</a></li>
            <li><a href="teams">Teams</a></li>
            <li><a href="c2s">C2s</a></li>
            <li><a href="scope">Scope</a></li>
            <li><a class="active" href="config">Config</a></li>
        </ul>
        <img src="assets/imgs/lober.gif">
    </div>
    <div class="contents">
        <h1>Config</h1>

    </div>
</body>
</html>