<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lober teams</title>
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
    <div class="menu">
        <h1>Lober</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="users">Users</a></li>
            <li><a class="active" href="teams">Teams</a></li>
            <li><a href="c2s">C2s</a></li>
            <li><a href="scope">Scope</a></li>
            <li><a href="config">Config</a></li>
        </ul>
        <img src="assets/imgs/lober.gif">
    </div>
    <div class="contents">
        <h1>Teams</h1>

        <button type="team-add">Add Team</button>
        <br>

        <div class="teams">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Lead</th>
                    <th>Actions</th>
                </tr>
                {{ range.teams }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td style="background-color: #{{ .Color }};"></td>
                    <td>{{ .Lead }}</td>
                    <td>
                        <button type="team-edit-{{ .Name }}">Edit</button>
                        <button type="team-show={{ .Name }}">Shows Logs</button>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
</body>
</html>